img {
    width: 250px;
    height:250px;
    border-radius: 50%;
    
}
.cont {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;

}


h1 {
    font-size: 20px;
    text-align:center;
}
p{
    font-size: 20px;
    text-align: center;
}
.contact{
    color:black;
    background-color:darkcyan;
    text-align: center;
    margin-top: 20px;
    margin-left: 1010px;
    width:100px;
    height:30px;
    border-radius:10%;

}
.hobbies{
    margin-bottom: 100px;
    margin-left: 10px;
    width:100px;
    height:30px;
    color:black;
    background-color:darkcyan;
    border-radius:10%;
}
