img {
    width: 300px;
    height:300px;
    border-radius: 50%;
    
}
.cont {
    text-align: center;

}

body{
    background-color:  rgba(1, 54, 68, 0.479);
    color: #2d3142;
}
h1 {
    font-size: 30px;
    text-align:center;
}
p{
    font-size: 16px;
    text-align: center;
}
.contact{
    color:black;
    background-color:darkcyan;
    text-align: center;
    margin-top: 20px;
    margin-left: 1010px;
    width:100px;
    height:30px;
    border-radius:10%;

}
.hobbies{
    margin-bottom: 100px;
    margin-left: 10px;
    width:100px;
    height:30px;
    color:black;
    background-color:darkcyan;
    border-radius:10%;
}
